extends layout
block header
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(src='//peterolson.github.com/BigInteger.js/BigInteger.min.js')
    script(src='/javascripts/sha256.js')
    script(src='/javascripts/common.js')
    script(src='/javascripts/test.js')

block content
    .container
        .row
            .col-sm-9.col-md-7.col-lg-5.mx-auto
                .card.card-signin.my-5
                    .card-body
                        h5.card-title.text-center Sign In
                        form.form-signin(method='POST')
                            .form-label-group
                                input#inputUserame.form-control(name='username', type='text', placeholder='Username', required='', autofocus='')
                                label(for='inputUserame') Username
                            .form-label-group
                                input#inputPassword.form-control(name='password', type='password', placeholder='Password', required='')
                                label(for='inputPassword') Password
                            button.btn.btn-lg.btn-primary.btn-block.text-uppercase(onclick='new Client();return false;') Sign in
                            a.d-block.text-center.mt-2.small(href='/register') Register
